@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model Frontend.Pages.Migrantes.IndexModel
@{
}

<h1>Bienvenido Migrante @User.Identity.Name</h1>
<h4><a asp-page="DatosPersonalesVer" asp-route-userNameA="@User.Identity.Name">Ver Datos Personales</a></h4>
<h4><a asp-page="Emergencias" asp-route-userNameA="@User.Identity.Name">Emergencias</a></h4>
<h4><a asp-page="Grupos" asp-route-userNameA="@User.Identity.Name">Grupos de Amigos y Familiares</a></h4>
